* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu{
    background-color: black;
    font-size: 1.2rem;
    color:white;
}

.menu-list li {
    cursor: pointer;
    list-style: none;
    margin: .3rem;
  
    
}

.menu-list li:hover { 
  font-size: 24px;
  background-color: white;
  color:black;
}

.menu-list {
    display: flex;
    justify-content: space-around;
}

.hamburger, #toggle{
    display: none;
}
@media  (max-width:570px) {
    .menu-list {
        display: none;
       
    }
    .menu-list li:hover {
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .hamburger{
        display: block;
    }


    #toggle:checked + .menu-list {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

}

