* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* article's paragraph design */
 .paragraf, div  {
    border: 2px solid black;
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding-top: 100px;
    height: 200px;
} 
/*
.span-text {
    border: 2px solid green;
    height: 200px;
    width: 800px;
}

#span-text-Id{
    border: 10px solid black;
}  */

/* css animation */
/*
h1 {
    width: 200px;
    background-color: aquamarine;
    transition: transform 3s;
}

h1:hover{
    
    transform: rotate(180deg);
    
} */