* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* article's paragraph design */
/*  .paragraf, div  {
    border: 2px solid black;
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding-top: 100px;
    height: 200px;
}  */
/*
.span-text {
    border: 2px solid green;
    height: 200px;
    width: 800px;
}

#span-text-Id{
    border: 10px solid black;
}  */

/* css animation */
/*
h1 {
    width: 200px;
    background-color: aquamarine;
    transition: transform 3s;
}

h1:hover{
    
    transform: rotate(180deg);
    
} */



h1{
    margin:10px;
   

}


span{
    display: inline-block;
    margin-top:100px;
    height:100px;
    width:100px;
}

a {
 text-decoration: none;
 font-size: 30px;
}

a:hover{
    font-size: 200px;
    color: red;
}
a:active{
    font-size: 50px;
    color: green;
}
a:visited {

 font-size: 50px;
 color: #FFBFA0; 
}

span:hover{
  font-size: 50px;
  color: #FFBFA0; 
}

